[submodule "ApacheCommons"]
	path = ApacheCommons
	url = https://github.com/anna2506/Calculator
[submodule "Generator"]
	path = Generator
	url = https://github.com/Cherkasik/Generator
[submodule "Parsing"]
	path = Parsing
	url = https://github.com/kav128/Parsing
